#frame{
    border: 1px solid red;
}

.node-red {
	/*-moz-border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;
	-webkit-border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;
	border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;*/
	fill: red;
  stroke: red;
  stroke-width: 4;
  stroke-opacity: .2;
}

.node-blue {
	/*-moz-border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;
	-webkit-border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;
	border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;*/
	fill: blue;
  stroke: blue;
  stroke-width: 10;
  stroke-opacity: .2;
}

.cube {
	/*-moz-border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;
	-webkit-border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;
	border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;*/
  fill: grey;
  fill-opacity: 0.3;
  stroke: black;
  stroke-width: 2;
  stroke-opacity: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle {
	/*-moz-border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;
	-webkit-border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;
	border-radius: 1.418px 1.417px 1.418px 1.417px / 1.417px 1.417px 1.417px 1.417px;*/
	fill: transparent;
    stroke: grey;
    strokeWidth: 1;
    strokeOpacity: .4;
}

.line{
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-opacity: .6;
}

.shadow {
    cursor:crosshair;
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888; }
